/* Lista con el Todo*/
.todo-list li::marker {
    content: 'Todo ' counter(list-item) ': ';
    color: hotpink;
    font-weight: 500;
    font-size: 0.8em;
}

.todo-list {
    margin-left: 20px;
}

/*  Lista con la manita  */
.hand-list {
    list-style-type: none;
}

.hand-list li::before {
    content: '👉';
    display: inline-block;
    padding-inline-end: 0.75rem;

    transition: transform 200ms;
}

.hand-list li:hover::before {
    transform: translateX(0.25rem); 
}

/*  Lista con grid  */
.grid {
    display: grid;
    width: 16.5rem;
    grid-template-columns: repeat(auto-fit, 8rem);
    grid-gap: 0.5rem;
}

.grid div.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 98, 98);
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* list like contact */

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow: auto;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
}

.contact-list dt {
    padding: 0.75rem;
    background-color: #333;
    position: sticky;
    top: 0;
}

.alphabet {
    width: 1.5rem; height: 1.5rem;
    border-radius: 50%;
    color: white;
    background-color: #121212;
    font-weight: 700; font-size: 0.75rem;

    display: grid;  place-items: center;
}

.contact-list .avatar {
    width: 2rem; height: 2rem;
    border-radius: 50%;
}

.contact-list dd {
    padding: 0 0.75rem;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 0.75rem;
}